:root {
  /* Colors */
  --color-primary: rgb(67 135 244);
  --color-primary-dark: rgb(40 107 215);
  --color-primary-alpha-40: rgb(40 107 215 / 40%);
  --color-muted: rgb(168 168 168);
  --color-warning: rgb(221 75 57);
  --color-warning-alpha-20: rgb(221 75 57 / 20%);

  /* Theme */
  --theme-background: rgb(255 255 255);
  --theme-background-alpha-0: rgb(255 255 255 / 0%);
  --theme-background-alpha-95: rgb(255 255 255 / 95%);
  --theme-background-2: rgb(248 249 250);
  --theme-background-3: rgb(242 242 242);
  --theme-background-3-alpha-0: rgba(242 242 242 / 0%);
  --theme-background-3-alpha-65: rgba(242 242 242 / 65%);
  --theme-background-3-alpha-95: rgba(242 242 242 / 95%);
  --theme-background-input: var(--theme-background);
  --theme-text-color: #212121;
  --theme-invert-alpha-10: rgba(0 0 0 / 10%);
  --theme-invert-alpha-20: rgba(0 0 0 / 20%);
  --theme-invert-alpha-50: rgba(0 0 0 / 50%);

  /* body */
  --body-background: var(--theme-background);
  --filter-invert-image: none;

  /* Base */
  --font-family: -apple-system, system-ui, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
  --font-size-base: 14px;
  --line-height: 1.5;
  --base-radius: 6px;

  /* Spiner */
  --spinner-size: 12px;
  --spinner-color: var(--color-primary);

  /* Bookmark */
  --bookmark-aspect-ratio: 4 / 3;
  --bookmark-logo-size: 32px;
  --bookmark-radius: var(--base-radius);
  --bookmark-bg: var(--theme-background-3-alpha-65);
  --bookmark-overlay-bg: var(--theme-background-3-alpha-95);
  --bookmark-caption-bg: var(--theme-background-3);
  --bookmark-caption-after-transparent: var(--theme-background-3-alpha-0);
  --bookmark-caption-color: var(--theme-text-color);
  --bookmark-outline-color: var(--color-primary-alpha-40);
  --bookmark-image-fill: var(--filter-invert-image);
  --bookmark-dropzone-outline-width: 2px;
  --bookmark-dropzone-outline: var(--bookmark-dropzone-outline-width) dashed var(--theme-invert-alpha-50);
  --bookmark-dropzone-background: var(--theme-background-2);
  --bookmark-dropzone-background-active: var(--theme-background-3);
  --bookmark-dropzone-icon-invert: none;

  /* Options */
  --options-slider-width: 700px;
  --options-slider-transition: 0.35s cubic-bezier(0, 0, 0.2, 1);

  /* Forms */
  --header-input-color-controls: var(--color-primary-dark);
  --search-reset-btn-color: #000;
  --input-border: 1px solid #ddd;
  --input-padding: 7px 10px;
  --input-shadow-color: hsl(217deg 89% 61% / 20%);
  --input-shadow: 0 0 7px 2px var(--input-shadow-color);
  --input-shadow-error: 0 0 7px 2px var(--color-warning-alpha-20);
  --input-placeholder-color: hsl(0deg 0% 66%);
  --input-placeholder-focus-color: hsl(0deg 0% 80%);
  --input-bg: var(--theme-background-input);
  --input-text-color: inherit;
  --select-icon: url("/img/select-arrow.svg");
  --input-radius: var(--base-radius);

  /* Buttons */
  --btn: var(--color-primary);
  --btn-active: var(--color-primary-dark);
  --btn-color: #fff;
  --btn-padding: 7px 15px;
  --btn-radius: var(--base-radius);
  --circ-btn-size: 30px;

  /* Scrollbar */
  --scrollbar-width: 12px;
  --scrollbar-color: #666;
  --scrollbar-hover-color: #999;

  /* Switch */
  --switch-width: 30px;
  --switch-height: 12px;
  --switch-inactive-bar: #9e9e9e;
  --switch-inactive-circle: #fff;
  --switch-active-bar-color: hsl(217deg 89% 61% / 40%);
  --switch-active-bar: var(--switch-active-bar-color);
  --switch-active-circle: var(--color-primary);
  --switch-circle-size: 16px;

  /* Grid */
  --container-width: 100%;
  --grid-column-min-width: 80px;
  --grid-gap: 10px;
  --grid-columns: auto-fit;

  /* Modal */
  --modal-background: var(--theme-background-2);
  --modal-custom-image-background: var(--theme-background-3);
  --modal-header-border-color: #ddd;
  --modal-footer-border-color: var(--modal-header-border-color);
  --modal-close-fill: #000;
  --modal-custom-image-filter: invert(1);

  /* options */
  --options-background: #f8f9fa;
  --option-tbl-hover-bg: #f7f7f7;
  --tabs-control-background: var(--theme-background-3);
  --tabs-control-gradient-background-alpha-0: rgb(249 249 249 / 0%);
  --tabs-control-gradient-background: rgb(249 249 249 / 95%);
  --tabs-content-background: var(--theme-background);

  /* not found */
  --notfound-background: var(--theme-background-3-alpha-65);
  --notfound-color: var(--theme-text-color);
  --notfound-icon-filter: var(--filter-invert-image);

  /* Context menu */
  --context-menu-bg: var(--theme-background-2);
  --context-menu-bg-hover: var(--theme-background-3);
  --context-menu-color: var(--theme-text-color);
  --context-menu-divider: rgb(0 0 0 / 10%);

  /* search engines */
  --engine-svg-color: #555;
}

.dark {
  --theme-background: rgb(33 33 33);
  --theme-background-alpha-0: rgb(33 33 33 / 0%);
  --theme-background-alpha-95: rgb(33 33 33 / 95%);
  --theme-background-2: rgb(48 48 48);
  --theme-background-3: rgb(64 64 64);
  --theme-background-3-alpha-0: rgb(64 64 64 / 0%);
  --theme-background-3-alpha-65: rgb(64 64 64 / 65%);
  --theme-background-3-alpha-95: rgb(64 64 64 / 95%);
  --theme-background-input: var(--theme-background-3);
  --theme-invert-alpha-10: rgb(255 255 255 / 10%);
  --theme-invert-alpha-20: rgba(255 255 255 / 20%);
  --theme-invert-alpha-50: rgb(255 255 255 / 50%);

  /* body */
  --body-background: var(--theme-background);
  --theme-text-color: #eee;

  /* Colors */
  --filter-invert-image: invert(1);

  /* Scrollbar dark theme */
  --scrollbar-color: #999;
  --scrollbar-hover-color: #666;

  /* bookmark  dark theme */
  --bookmark-image-fill: var(--filter-invert-image);
  --bookmark-dropzone-border: 2px dashed #999;
  --bookmark-dropzone-icon-invert: invert(1);

  /* Forms  dark theme */
  --header-input-color-controls: #fff;
  --search-reset-btn-color: #fff;
  --input-text-color: rgb(255 255 255 / 80%);
  --input-placeholder-color: hsl(0deg 0% 50%);
  --input-placeholder-focus-color: hsl(0deg 0% 50% / 70%);
  --input-border: 1px solid transparent;
  --select-icon: url("/img/select-arrow-light.svg");

  /* Options  dark theme */
  --options-background: var(--theme-background);
  --option-tbl-hover-bg: hsl(0deg 0% 0% / 7%);
  --tabs-content-background: var(--theme-background-2);
  --tabs-control-gradient-background-alpha: var(--theme-background-alpha-0);
  --tabs-control-gradient-background: hsl(0deg 0% 13% / 95%);

  /* Modal dark theme */
  --modal-header-border-color: rgb(220 220 220 / 10%);
  --modal-close-fill: #fff;
  --modal-custom-image-bg: var(--theme-bg-200);
  --modal-custom-image-filter: none;

  /* notfound dark theme */
  --notfound-color: var(--theme-text-color);
  --notfound-icon-filter: var(--filter-invert-image);

  /* Context menu */
  --context-menu-divider: rgb(255 255 255 / 10%);

  /* search engines */
  --engine-svg-color: #fafafa;
}
