.bookmarks-panel {
  --vb-popup-bottom: calc(100% + 20px);
  --vb-popup-btn-radius: 50%;

  position: fixed;
  z-index: 9000;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-inline: auto;
  padding: 10px;
  border-radius: var(--base-radius) var(--base-radius) 0 0;
  background-color: var(--theme-background-alpha-95);
  box-shadow: 0 0 14px rgba(0 0 0 / 50%);
  backdrop-filter: blur(10px);
  outline: none;

  & button:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
  }
}
.bookmarks-panel__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.bookmarks-panel__action {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 0;
  color: var(--theme-text-color);
  border: none;
  border-radius: 50%;
  background: var(--theme-invert-alpha-10);
  cursor: pointer;

  &:hover {
    background: var(--theme-invert-alpha-20);
  }

  & svg {
    flex-shrink: 0;
    fill: currentcolor;
    pointer-events: none;
  }
}
.bookmarks-panel__close {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  &:hover {
    opacity: 1;
  }
  & svg {
    fill: var(--theme-text-color);
  }
}
.bookmarks-panel__popup-content {
  width: 210px;
  padding: 5px;
  border-radius: var(--base-radius);
  box-shadow: 0 4px 20px 0 rgb(51 51 51 / 16%);
}
.bookmarks-panel__popup-action {
  padding: 5px 10px;
  font-size: 90%;
  cursor: pointer;
  border-radius: var(--base-radius);
  &:hover {
    background-color: var(--theme-invert-alpha-10);
  }
}
.bookmarks-panel__selector {
  position: relative;
  display: flex;
  gap: 10px;
}
