/* Bookmark */
.bookmark {
  position: relative;
  aspect-ratio: var(--bookmark-aspect-ratio);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--bookmark-bg);
  border-radius: var(--bookmark-radius);
  outline: 1px solid rgb(0 0 0 / 10%);
  transition: scale 0.15s ease;

  &:focus-visible {
    box-shadow: 0 0 0 3px var(--bookmark-outline-color);
  }

  &[data-selected] {
    transform: scale(0.85);
    box-shadow: 0 0 0 5px var(--bookmark-selected, var(--color-primary));
  }

  &.dragging {
    opacity: 0.01;
    & .bookmark__action {
      pointer-events: none;
    }
  }

  &.dragover-hover {
    & .bookmark__action {
      pointer-events: none;
    }
  }

  &.dropline-before::before,
  &.dropline-after::before,
  &.dropline-before::after,
  &.dropline-after::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--grid-gap);
    filter: contrast(2.5) drop-shadow(3px 7px 14px #fff);
  }

  &.dropline-before::before,
  &.dropline-after::before {
    width: var(--dropline-width);
    background:
      linear-gradient(
        to bottom,
        var(--dropline-color, var(--color-primary)) 0,
        var(--dropline-color, var(--color-primary)) 3px,
        transparent 3px,
        transparent calc(100% - 3px),
        var(--dropline-color, var(--color-primary)) calc(100% - 3px),
        var(--dropline-color, var(--color-primary)) 100%
      );
  }
  &.dropline-before::after,
  &.dropline-after::after {
    border: 0;
    border-inline: calc((var(--grid-gap) - 3px) / 2) solid transparent;
    background-color: var(--dropline-color, var(--color-primary));
    background-clip: padding-box;
  }
  &.dropline-before {
    &::before {
      left: calc((var(--grid-gap) / -2) - calc(var(--dropline-width) / 2));
    }
    &::after {
      left: calc(var(--grid-gap) * -1);
    }
  }
  &.dropline-after {
    &::before {
      right: calc((var(--grid-gap) / -2) - calc(var(--dropline-width) / 2));
    }
    &::after {
      right: calc(var(--grid-gap) * -1);
    }
  }
}

.bookmark-btn {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: var(--bookmark-aspect-ratio);
  padding: 0;
  border: 0;
  cursor: pointer;
  opacity: 0.65;
  outline: 1px solid rgb(0 0 0 / 10%);
  background-color: var(--bookmark-bg);
  border-radius: var(--bookmark-radius);
  transition: opacity 0.15s linear;
  &:hover,
  &:focus {
    opacity: 0.85;
  }
  &:focus {
    box-shadow: 0 0 0 3px var(--bookmark-outline-color);
  }
  &::after {
    background-repeat: no-repeat;
    background-position: center;
    background-size: min(40%, 100px);
    filter: var(--bookmark-image-fill);
  }
}

.bookmark-btn--back {
  transition: scale 0.15s ease;
  &:has(.has-highlight) {
    scale: 0.95;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("/img/turn-up.svg");
  }
}

.bookmark-btn--create::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("/img/add.svg");
}

.bookmark__summary-folder {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.bookmark.disable-events {
  pointer-events: none;
}

.bookmark__img {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.bookmark__img--logo {
  background-size: var(--bookmark-logo-size);
  background-position: center;
}

.bookmark__img--external {
  background-size: 50%;
}

.bookmark__img--children {
  flex-grow: 0;
  width: calc(40% - 4px);
  margin: 2px;
  border-radius: 2px;
  background-color: rgb(0 0 0 / 10%);
  background-position: center;
  background-size: min(30%, var(--bookmark-logo-size));
  background-repeat: no-repeat;
  &:only-child,
  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ .bookmark__img--children {
    align-self: center;
    padding-bottom: 30%;
  }
}

.bookmark__img--folder {
  /* background-image: url(../img/folder.svg); */
  background-size: 50% auto;
  background-position: center;
  background-image: url("/img/folder.svg");
  filter: var(--bookmark-image-fill);
}

.bookmark__img--contain {
  background-size: contain;
  background-position: center;
}

.bookmark__action {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  left: 5px;
  z-index: 1000;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: rgb(33 33 33);
  background-image: url("/img/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  outline: none;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
  &:focus {
    opacity: 1;
  }
  &:focus-visible {
    box-shadow: 0 0 0 3px var(--bookmark-outline-color);
  }
}

.bookmark:hover .bookmark__action {
  opacity: 1;
}

.bookmark__caption {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(35%, 30px);
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  background: var(--bookmark-caption-bg);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    background:
      linear-gradient(
        to left,
        var(--bookmark-caption-bg) 20%,
        var(--bookmark-caption-after-transparent) 100%
      );
  }
}

.bookmark__favicon {
  flex-shrink: 0;
  margin-right: 5px;
}

.bookmark__title {
  min-width: 0;
  font-weight: 600;
  color: var(--bookmark-caption-color);
}

.bookmark__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: var(--bookmark-overlay-bg);
  border-radius: inherit;
}

.dropzone-bookmark {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: min(35%, 30px);
  left: 0;
  right: 0;
  padding: var(--bookmark-dropzone-outline-width);
  outline: var(--bookmark-dropzone-outline);
  outline-offset: calc(var(--bookmark-dropzone-outline-width) * -1);
  background-color: var(--bookmark-dropzone-background);
  z-index: 1;
  transition: opacity 0.15s linear, visibility 0.15s linear, scale 0.15s linear;
  overflow: hidden;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  &::after {
    content: "";
    background-image: url("/img/folder-open.svg");
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: center;
    filter: var(--bookmark-dropzone-icon-invert);
  }
  &.has-highlight {
    outline-color: var(--color-primary);
    outline-style: solid;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--bookmark-dropzone-background-active);
    }
  }
  &.is-activate {
    visibility: visible;
    opacity: 1;
  }
}
.bookmark:has(.has-highlight) {
  scale: 0.95;
}

.bookmark-btn .dropzone-bookmark {
  bottom: 0;
}

.drag-ghost {
  position: absolute;
  top: -9999px;
  left: -9999px;
  pointer-events: none;
  padding: 0;
  opacity: 1 !important;
  outline: none !important;
  overflow: hidden;
  box-shadow: none !important;

  &.is-firefox .bookmark__caption {
    display: none;
  }

  &.multiply-ghost {
    background-clip: content-box;
    padding-top: 6px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 6px 6px / 6px 6px 0 0;
      background: var(--theme-text-color);
      z-index: 1000;
    }
    &::before {
      top: 3px;
      left: 5px;
      right: 5px;
      height: 2px;
      visibility: hidden;
    }
    &::after {
      top: 0;
      left: 10px;
      right: 10px;
      height: 4px;
    }
  }
}
.multiply-drop-count {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: var(--multiply-drop-count-color, var(--color-primary));
  padding: 0 2px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-top-left-radius: var(--base-radius);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  z-index: 1000;
}
