.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 380px;
  z-index: 9997;
  pointer-events: none;

  @media (max-width: 480px) {
    &.toast-container--bottom-left,
    &.toast-container--bottom-right,
    &.toast-container--top-left,
    &.toast-container--top-right {
      left: 0;
      right: 0;
    }
  }

  &.toast-container--top,
  &.toast-container--bottom {
    left: 0;
    right: 0;
    margin: auto;
  }
  &.toast-container--top {
    top: 20px;
  }
  &.toast-container--bottom {
    bottom: 20px;
  }
  &.toast-container--top-left {
    top: 20px;
    left: 20px;
  }
  &.toast-container--bottom-left {
    bottom: 20px;
    left: 20px;
  }
  &.toast-container--top-right {
    top: 20px;
    right: 20px;
  }
  &.toast-container--bottom-right {
    bottom: 20px;
    right: 20px;
  }
}

.toast {
  pointer-events: all;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 48px;
  padding: 14px 16px;
  font-family: inherit;
  color: #fff;
  background-color: #323232;
  border-radius: var(--base-radius);
  box-sizing: border-box;
  will-change: transform, opacity;
  overflow: hidden;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  transition: opacity 0.25s, transform 0.25s, display 0.25s allow-discrete;

  &.toast--progress::after {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    bottom: 0;
    height: 3px;
    background-color: var(--toast-progress-color, var(--color-primary));
    animation: toast-progress var(--toast-delay) linear;
  }
}

@keyframes toast-progress {
  from {
    translate: 0;
  }
  to {
    translate: 100%;
  }
}

.toast__message {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.015em;
  white-space: pre-line;

  [data-title] {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
  }
}

.toast__action {
  flex-shrink: 0;
  margin-left: auto;
  position: relative;
  align-self: center;
  display: inline-flex;
  gap: 4px;
  background-color: rgb(255 255 255 / 5%);
}

.toast__btn {
  align-self: flex-start;
  flex-shrink: 0;
  margin-left: auto;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0;
  text-align: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s ease;
  outline: none;
  &:hover,
  &:focus {
    background-color: rgb(255 255 255 / 15%);
  }
  &:active {
    background-color: rgb(255 255 255 / 30%);
  }
  & svg {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    margin: auto;
    vertical-align: middle;
    fill: #fff;
  }
}

/* stylelint-disable-next-line at-rule-no-unknown */
@starting-style {
  .toast-container--top .toast,
  .toast-container--top-left .toast,
  .toast-container--top-right .toast {
    transform: translateY(-50px);
  }
  .toast-container--bottom .toast,
  .toast-container--bottom-left .toast,
  .toast-container--bottom-right .toast {
    transform: translateY(50px);
  }
}

.is-deleting {
  z-index: -1;
  opacity: 0;
  display: none;
}
.toast-container--top .is-deleting,
.toast-container--top-left .is-deleting,
.toast-container--top-right .is-deleting {
  transform: translateY(-50px);
}
.toast-container--bottom .is-deleting,
.toast-container--bottom-left .is-deleting,
.toast-container--bottom-right .is-deleting {
  transform: translateY(50px);
}
