<div class="header">
  <div class="header__items header__items--search">
    <div class="search-wrap">
      <form method="get" action="">
        <input
          type="text"
          id="bookmarkSearch"
          class="form-control"
          placeholder="Search"
          spellcheck="false"
          data-locale-message="placeholder_input_search"
          autocomplete="off"
        >
      </form>
      <vb-popup class="header__engine">
        <span class="header__engine-button" slot="button">btn</span>
        <div class="header__engine-content" slot="content"></div>
      </vb-popup>

      <button class="field-icon search-reset-btn" id="searchReset">
        <svg class="search-icon" width="20" height="20">
          <use xlink:href="/img/symbol.svg#close"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="header__items header__items--select">
    <vb-select-folders id="selectFolders"></vb-select-folders>
  </div>
</div>
