body {
  overflow-y: hidden;
}
.app {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  overflow-y: scroll;
}
.aside-controls {
  position: fixed;
  top: 12px;
  left: 10px;
  z-index: 999;
  display: grid;
  grid-gap: 10px;
  will-change: opacity;
  opacity: 0.3;
  transition: opacity 3s linear;
  &:hover,
  &:focus {
    transition: opacity 0.3s linear;
    opacity: 1;
  }
}

.content {
  padding: 20px 0;
}

.thumb-upload {
  display: none;
}

/* Page loading */
.dial-loading {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 100;
}

/**
 * Helpers
 */
.circ-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--circ-btn-size);
  height: var(--circ-btn-size);
  text-decoration: none;
  border: 0;
  padding: 0;
  background: rgb(33 33 33 / 50%);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  & svg {
    fill: #fff;
    pointer-events: none;
  }
  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

.settings-link {
  & svg {
    transition: transform 0.15s ease-in-out;
  }
  &:hover svg {
    transform: rotate(30deg);
  }
}

.update-thumbnails::after {
  background-image: url("/img/camera.svg");
}

/* background image */
.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 0.5s linear;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @nest .has-image &::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 280px;
    background-image:
      linear-gradient(
        to bottom,
        hsl(0deg 0% 0% / 42%) 0%,
        hsl(0deg 0% 0% / 34.1%) 1.1%,
        hsl(0deg 0% 0% / 27.3%) 4.4%,
        hsl(0deg 0% 0% / 21.5%) 9.3%,
        hsl(0deg 0% 0% / 16.6%) 15.8%,
        hsl(0deg 0% 0% / 12.4%) 23.5%,
        hsl(0deg 0% 0% / 9.1%) 32%,
        hsl(0deg 0% 0% / 6.4%) 41.2%,
        hsl(0deg 0% 0% / 4.3%) 50.6%,
        hsl(0deg 0% 0% / 2.7%) 60%,
        hsl(0deg 0% 0% / 1.6%) 69.2%,
        hsl(0deg 0% 0% / 0.8%) 77.7%,
        hsl(0deg 0% 0% / 0.3%) 85.4%,
        hsl(0deg 0% 0% / 0.1%) 91.8%,
        hsl(0deg 0% 0% / 0%) 96.8%,
        hsl(0deg 0% 0% / 0%) 100%
      );
  }

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.empty-search {
  place-self: center;
  grid-column: 1 / -1;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 15px;
  border-radius: var(--base-radius);

  @nest .has-image & {
    background-color: var(--theme-background-3-alpha-65);
  }
}

/* transition for selected bookmark if dragging is not active  */
.grid:not(.has-dragging) .bookmark {
  transition: transform 0.15s ease;
  transition-property: transform, box-shadow;
}

.has-search vb-virtual-pagination {
  display: none;
}

@media (max-height: 670px) {
  vb-virtual-pagination {
    display: none;
  }
}

vb-virtual-pagination {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.has-image .logodev-link a {
  background-color: var(--theme-background-2);
}
.logodev-link {
  margin-top: auto;
  text-align: center;

  a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-inline: 10px;
    border-radius: var(--base-radius);
    color: var(--theme-text-color);
    text-underline-offset: 3px;
  }
}
